.list-group-item.active {
    z-index: 2;
    color: #fff;
    background-color: #d91d06;
    border-color: #d91d06;
    text-align: center;
}

h6{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}