h5{    
    text-align: center;
}

.slh{
    background-color: black;
    color: white;
    border-radius: 15px;
    margin-left: 15px!important;
    margin-right: 15px!important;
}

.box{
    margin-left: auto;
    margin-right:auto;
}