<div class="row">
  <div class="col-1"></div>
  <div class="col-3 left-content">
    <app-shoppping-list></app-shoppping-list>
  </div>
  <div class="col-7 right-content">
    <div class="row">
      <div class="col-7 right-content">
        <router-outlet></router-outlet>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-7 right-content">
        <button class="btn btn-primary" ngclick="">Edit List</button>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-7 right-content">
        <app-edit-list></app-edit-list>
      </div>
    </div>
  </div>

  <div class="col-1"></div>
</div>